@use "./../../../styles/main.scss" as *;

.card {
  width: 45rem;
  height: 8rem;

  border-bottom: 1px solid #bababa;
  padding: 0 1.2rem;
}

.flex-split-row {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.split2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card__image {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;

  margin-right: 1rem;
}

.flex-column-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card__title {
  color: #000;
  font-family: Poppins;
  font-size: 2rem;
  font-weight: 500;
}
.card__subtitle {
  color: #747474;
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 400;
}
